<h1>Bienvenidos</h1>
<div height="50%" margin="50px">
 
  <%= image_tag("logotipo.jpg",:width=>"619", :height=>"402", :display=>"block") %> 
  </div>
<div>
  <marquee><h1>En Construcción, Proximamente...</h1></marquee>
  
</div>

