body {
margin: 40px;
background-color:#fff ;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
form {
	width: 45em;
	margin: 0 auto;
	padding: 50px 60px;
	overflow: auto;
	color: #400;
	background-color: #E9E9E9;
	background: -moz-linear-gradient( center bottom, #f5eedb 0%, #faf8f1 100% );
	background: -moz-linear-gradient( center bottom, #f5eedb 0%, #faf8f1 100% );
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
form ul {
list-style: none;
margin: 0;
padding: 0;
}
form ul li {
margin: .9em 0 0 0;
padding: 0;
}
form * {
line-height: 1em;
}
/* Form heading */
form h1 {
margin: 0 0 1.5em 0;
padding: 0;
text-align:left;
}

fieldset {
padding: 0 20px 20px;
margin: 0 0 30px;
border: 2px solid #593131;
background: 002200;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
/* Give each fieldset legend a nice curvy green box with white text */
legend {
	color: #400;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-align:left;
	padding: 5px;
	margin: 0;
	width: 12em;
	border: 2px solid #002200;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

label {
display: block;
float: left;
clear: left;
text-align: right;
width: 40%;
padding: .4em 0 0 0;
margin: .15em .5em 0 0;
}

input, select, textarea {
display: block;
margin: 0;
padding: .4em;
width: 30%;
}
input, textarea, .date {
border: 2px solid #eae1c0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;  
box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
-moz-box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
-webkit-box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
background: #fff;
}
input {
font-size: .9em;
}
select {
padding: 0;
margin-bottom: 2.5em;
position: relative;
top: .7em;
}
textarea {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: .9em;
height: 5em;
}
/* Place a border around focused fields, and hide the inner shadow */
form *:focus {
border: 2px solid #593131;
outline: none;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}
/* Display correctly filled-in fields with a green background */
input:valid, textarea:valid {
background: #efe;
}
input[type="submit"], [type="button"]{
margin: 10px auto 0 auto;
width: 12em;
padding: 5px;
border: 1px solid #593131;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;  
box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .5);
-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .5);
background: #555;
color: #A8A8A8;
font-size:12px;
font-weight: bold;
-webkit-appearance: none;
}
input[type="submit"]:hover, input[type="submit"]:active, [type="button"]:hover, [type="button"]:active{
cursor: auto;
background: #aaa;
color: #000;
}
input[type="submit"]:active, [type="button"]:active {
background: #eee;
box-shadow: 0 0 .3em rgba(0, 0, 0, .5) inset;
-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .5) inset;
-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .5) inset;
}

#menu{
    list-style: none; 
    float:right;
    top:0px;
    right:0px;
}
#menu li {
    float:left;
    display:inline;
    margin:1px;
    padding: 0px;
    top:0px;

    font: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}
a {
    border: 1px solid #593131;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #555;
    color: #A8A8A8;
	display: block-inline;
	margin: 0px;
	padding: 0px 10px;
	text-decoration: none;
}
 a:hover {	
    background:#AAA;
	color: #000;
}

nav{
	position: absolute;
	margin:0px;
	padding: 0px;
	top:0px;
	left:0px;
	width: 100%;  
	height:40px;
    background: #252525;    
}

nav span{
	position: absolute;
	left:9px;
	vertical-align: center;
}
ul {    
    list-style: none; 
    left:9px;
}
ul li {  
    left:10px;
    float:left;
    display:inline;
    margin:4px;
    padding: 0px;
    height:40px;
    font: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    text-align:center;
} 
.alert, .error, .notice, .success { 
    padding:.3em 0; 
    margin:0 0 2px 0; 
    border:1px solid #ddd; 
    font-size:1.0em; 
    text-align:center;
}  
.notice { 
    background:#FFF6BF;
    color:#514721;
    border-color:#FFD324; } 
.success { 
    background:#DDFCD5;
    color:#000;
    border-color:#44A815; 
} 
.alert { 
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4; 
}  
.error a {
    color:#8a1f11;
} 
.notice a {
    color:#514721;
} 
.success a {
    color:#264409;
} 
.alert a {
    color:#8a1f11;
} 
.error { 
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4; 
} 
#notice { 
     background:#DDFCD5;
    color:green;
    border-color:#44A815;
    text-align: center;
 } 

table.cssw label {
display: block;
float: left;
clear: left;
text-align: right;
width: 100%;
padding: .4em 0 0 0;
margin: .15em .5em 0 0;
}

table.cssw input {
display: block;
margin: 0;
padding: .4em;
width: 90%;
}

table.cssw input{
border: 2px solid #eae1c0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;  
box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
-moz-box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
-webkit-box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
background: #fff;
}
table.cssw input {
font-size: .9em;
}

h2{
    padding-top: 12px;
    padding-bottom: 3px;
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4; 
}
h3{
    text-align:center;
}

#username{
    float: left;
    position: absolute;
    color: #fff;
}